
video{
    position: fixed;
    width: 1350px;
    height: 700px;
    top:5%;
    left:7% ;
    margin-top: -1400px;
    margin: -100px;
    z-index: 1;
}
h1{
    position: relative;
    text-align: center;
    color:black;
    font-family: 'Lobster', cursive;
    font-display:initial ;
    z-index: 2;
   
}
.a{
    position: relative;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    text-align: justify;
    color:cadetblue;
    margin-top: 100px;
    margin-left: 60px;
    z-index: 3;
}
.b{
    position: relative;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    text-align: center;
    color:cadetblue;
    margin-top:200px;
    margin-left:150px ;
    z-index: 4;
}
button{
    position:relative;
    color:black;
    margin-left: 400px;
    margin-bottom: 200px;
    background-color: lightgray;
    z-index: 5;
}
a{
    position: relative;
    font-style: oblique;
    font-size: xx-large;
    margin-left: 300px;
    margin-top: 400px;
    z-index: 6;
}
